BasedOnStyle: LLVM
SortIncludes: Never
IndentWidth: 4
ColumnLimit: 80
DerivePointerAlignment: false
PointerAlignment: Left
IndentCaseLabels: true
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: BlockIndent
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakAfterReturnType: None
AllowShortFunctionsOnASingleLine: None
PenaltyReturnTypeOnItsOwnLine: 1000
SpaceBeforeParens: Never
